.main {
	@include  flex-center;
	gap: 0.6rem;
	color: #888;
	font-size: $font-size--sml;
	font-weight: 700;
	button {
		background: none;
		padding: 0 0.4rem;
		border: 0;
		color: inherit;
		font-weight: inherit;
	}
	svg {
		width: 1.6rem;
		height: 1.6rem;
		color: $color-tertiary
	}
	.active {
		color: #000
	}
}
.arrow_prev {
	svg {
		transform: rotate(180deg);
	}
}
