.list {
	margin: 1.6rem 0;
	@include  flex-center;
	column-gap: 1.2rem;
	color: #a9a9a9;
	font-size: $font-size--xs;
	line-height: 1;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.item {
	&:not(:last-child) {
		&:after {
			content: '|';
			font-size: $font-size--xs;
			height: 1.2rem;
			margin-left: 1.2rem;
		}
	}
}