$color-input: #f0f0f0;
.search-popup {
    display: none;
    padding: 0 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    background-color: $bg-light;
    z-index: 1;
    box-shadow: 0 3px 5px rgba(50, 50, 50, 0.25);
    max-height: 63rem;
    :global(.col-5),:global(.col-7) {
        @include respond-to-max($desktopSize) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.input {
    width: 100%;
    background-color: $color-input;
    border: 2px solid $color-input;
    border-radius: 5rem;
    font-size: $font-size--sm;
    letter-spacing: 0.5px;
    padding: 1.4rem 4rem 1.4rem 2rem;
    height: 5rem;
    outline: none;
    transition: all .25s ease;
    @include respond-to-max($desktopSize) {
        background-color: $color-white;
        height: 4.6rem;
        border: 1px solid $color-border-gray;
        padding-right: 3rem;
        padding-left: 5rem;
    }
    &:focus, :focus-visible {
        background: $color-white;
        border-color: $color-input;
        border-radius: 3rem 3rem 0 0;
        ~ .search-popup {
            display: block;
        }
    }
    &-container {
        position: relative;
        flex: 1;
        @include respond-to-max($desktopSize) {
            order: 1;
            flex: auto;
            width: 100%;
        }
    }
    &-icon {
        position: absolute;
        top: 50%;
        right: 1.6rem;
        transform: translateY(-50%);
        background-color: transparent;
        border: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
        color: $color-icon;
        svg {
            width: 100%;
            height: 100%;
        }
        @include respond-to-max($desktopSize) {
            right: auto;
            left: 1.6rem;
        }
    }
}

.search-suggestion-title {
    border-bottom: 1px solid $color-border-light;
    color: $color-black;
    margin-bottom: .5rem;
    margin-top: 1.2rem;
    padding: 0.5rem 0;
    padding-left: 0;
    font-weight: bold;
    font-size: 1.3rem;
}
.search-suggestion-item {
    border-bottom: 1px solid $color-border-light;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    svg {
        margin-right: 1.2rem;
        color: $color-icon;
        width: 1.8rem;
    }
    a {
        font-size: 1.3rem;
        color: $color-icon;
        &:hover {
            text-decoration: none;
        }
    }
}
.search-suggestion-product {
    padding: 0 1rem;
    background-color: $color-border-light;
}
.btn-see-all {
    width: 100%;
    height: 5rem;
    display: block;
    background-color: $color-secondary;
    border-color: $color-primary;
    color: $color-white;
    font-size: 1.6rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.6rem;
}