$color-primary: #1f3489;
$color-secondary: #035ea7;
$color-tertiary: #00589f;
$color-white: #fff;
$color-black: #000;
$color-light: #e0e0e0;
$color-gray: #4D4D4D;
$color-danger: #ce4635;
$color-green: #16e716;
$color-yellow: #FFCA04;
$color-discount: #db0000;

$color-border-light: #ebebeb;
$color-border-gray: #c1c1c1;

$color-icon: #707070;
$color-star: #ffc107;
$color-star-gray: #e1e1e1;
$bg-light: #f7f7f7;