$color-primary: #1f3489;
$color-secondary: #035ea7;
$color-white: #fff;
$color-light: #e0e0e0;
$color-gray: #4D4D4D;
$color-danger: #ce4635;
$color-green: #16e716;
$color-yellow: #FFCA04;
$color-discount: #db0000;

